mlruns/
.ipynb_checkpoints/
livrables/
*.DS_Store
gradient_boosting_energy_feature_eng_train_test_results.csv
gradient_boosting_energy_final_with_energystarscore.csv
gradient_boosting_energy_final_without_energystarscore.csv
Gradient_Boosting_Energy_k_val_results.csv
gradient_boosting_energy_results_no_stratify.csv
gradient_boosting_energy_results_stratify.csv
Gradient_Boosting_Energy_train_test_results.csv
gradient_boosting_gas_feature_eng_train_test_results.csv
gradient_boosting_gas_final_with_energystarscore.csv
gradient_boosting_gas_final_without_energystarscore.csv
Gradient_Boosting_gas_k_val_results.csv
gradient_boosting_gas_results_no_stratify.csv
gradient_boosting_gas_results_stratify.csv
Gradient_Boosting_gas_train_test_results.csv

html_notebooks.zip
presentation/

predicted_vs_real_Dummy_energy_v1.png
predicted_vs_real_Dummy_gas_v1_no_log.png
predicted_vs_real_Dummy_gas_v1.png
predicted_vs_real_ElasticNet_energy_v1.png
predicted_vs_real_ElasticNet_gas_v1_no_log.png
predicted_vs_real_ElasticNet_gas_v1.png
predicted_vs_real_GradientBoosting_energy_v1.png
predicted_vs_real_GradientBoosting_gas_v1_no_log.png
predicted_vs_real_GradientBoosting_gas_v1.png
predicted_vs_real_Lasso_energy_v1.png
predicted_vs_real_Lasso_gas_v1_no_log.png
predicted_vs_real_Lasso_gas_v1.png
predicted_vs_real_Linear_energy_v1.png
predicted_vs_real_Linear_gas_v1_no_log.png
predicted_vs_real_Linear_gas_v1.png
predicted_vs_real_MLP_energy_v1.png
predicted_vs_real_MLP_gas_v1_no_log.png
predicted_vs_real_MLP_gas_v1.png
predicted_vs_real_RandomForest_energy_v1.png
predicted_vs_real_RandomForest_gas_v1_no_log.png
predicted_vs_real_RandomForest_gas_v1.png
predicted_vs_real_Ridge_energy_v1.png
predicted_vs_real_Ridge_gas_v1_no_log.png
predicted_vs_real_Ridge_gas_v1.png
Regression_Models_energy_v1_no_log_results.csv
Regression_Models_energy_v1_results.csv
Regression_Models_gas_v1_no_log_results.csv
Regression_Models_gas_v1_results.csv
residual_plot_Dummy_energy_v1_no_log.png
residual_plot_Dummy_energy_v1.png
residual_plot_Dummy_gas_v1_no_log.png
residual_plot_Dummy_gas_v1.png
residual_plot_ElasticNet_energy_v1_no_log.png
residual_plot_ElasticNet_energy_v1.png
residual_plot_ElasticNet_gas_v1_no_log.png
residual_plot_ElasticNet_gas_v1.png
residual_plot_GradientBoosting_energy_v1_no_log.png
residual_plot_GradientBoosting_energy_v1.png
residual_plot_GradientBoosting_gas_v1_no_log.png
residual_plot_GradientBoosting_gas_v1.png
residual_plot_Lasso_energy_v1_no_log.png
residual_plot_Lasso_energy_v1.png
residual_plot_Lasso_gas_v1_no_log.png
residual_plot_Lasso_gas_v1.png
residual_plot_Linear_energy_v1_no_log.png
residual_plot_Linear_energy_v1.png
residual_plot_Linear_gas_v1_no_log.png
residual_plot_Linear_gas_v1.png
residual_plot_MLP_energy_v1_no_log.png
residual_plot_MLP_energy_v1.png
residual_plot_MLP_gas_v1_no_log.png
residual_plot_MLP_gas_v1.png
residual_plot_RandomForest_energy_v1_no_log.png
residual_plot_RandomForest_energy_v1.png
residual_plot_RandomForest_gas_v1_no_log.png
residual_plot_RandomForest_gas_v1.png
residual_plot_Ridge_energy_v1_no_log.png
residual_plot_Ridge_energy_v1.png
residual_plot_Ridge_gas_v1_no_log.png
residual_plot_Ridge_gas_v1.png
residuals_histogram_Dummy_energy_v1_no_log.png
residuals_histogram_Dummy_energy_v1.png
residuals_histogram_Dummy_gas_v1_no_log.png
residuals_histogram_Dummy_gas_v1.png
residuals_histogram_ElasticNet_energy_v1_no_log.png
residuals_histogram_ElasticNet_energy_v1.png
residuals_histogram_ElasticNet_gas_v1_no_log.png
residuals_histogram_ElasticNet_gas_v1.png
residuals_histogram_GradientBoosting_energy_v1_no_log.png
residuals_histogram_GradientBoosting_energy_v1.png
residuals_histogram_GradientBoosting_gas_v1_no_log.png
residuals_histogram_GradientBoosting_gas_v1.png
residuals_histogram_Lasso_energy_v1_no_log.png
residuals_histogram_Lasso_energy_v1.png
residuals_histogram_Lasso_gas_v1_no_log.png
residuals_histogram_Lasso_gas_v1.png
residuals_histogram_Linear_energy_v1_no_log.png
residuals_histogram_Linear_energy_v1.png
residuals_histogram_Linear_gas_v1_no_log.png
residuals_histogram_Linear_gas_v1.png
residuals_histogram_MLP_energy_v1_no_log.png
residuals_histogram_MLP_energy_v1.png
residuals_histogram_MLP_gas_v1_no_log.png
residuals_histogram_MLP_gas_v1.png
residuals_histogram_RandomForest_energy_v1_no_log.png
residuals_histogram_RandomForest_energy_v1.png
residuals_histogram_RandomForest_gas_v1_no_log.png
residuals_histogram_RandomForest_gas_v1.png
residuals_histogram_Ridge_energy_v1_no_log.png
residuals_histogram_Ridge_energy_v1.png
residuals_histogram_Ridge_gas_v1_no_log.png
residuals_histogram_Ridge_gas_v1.png
residuals_kde_Dummy_energy_v1_no_log.png
residuals_kde_Dummy_energy_v1.png
residuals_kde_Dummy_gas_v1_no_log.png
residuals_kde_Dummy_gas_v1.png
residuals_kde_ElasticNet_energy_v1_no_log.png
residuals_kde_ElasticNet_energy_v1.png
residuals_kde_ElasticNet_gas_v1_no_log.png
residuals_kde_ElasticNet_gas_v1.png
residuals_kde_GradientBoosting_energy_v1_no_log.png
residuals_kde_GradientBoosting_energy_v1.png
residuals_kde_GradientBoosting_gas_v1_no_log.png
residuals_kde_GradientBoosting_gas_v1.png
residuals_kde_Lasso_energy_v1_no_log.png
residuals_kde_Lasso_energy_v1.png
residuals_kde_Lasso_gas_v1_no_log.png
residuals_kde_Lasso_gas_v1.png
residuals_kde_Linear_energy_v1_no_log.png
residuals_kde_Linear_energy_v1.png
residuals_kde_Linear_gas_v1_no_log.png
residuals_kde_Linear_gas_v1.png
residuals_kde_MLP_energy_v1_no_log.png
residuals_kde_MLP_energy_v1.png
residuals_kde_MLP_gas_v1_no_log.png
residuals_kde_MLP_gas_v1.png
residuals_kde_RandomForest_energy_v1_no_log.png
residuals_kde_RandomForest_energy_v1.png
residuals_kde_RandomForest_gas_v1_no_log.png
residuals_kde_RandomForest_gas_v1.png
residuals_kde_Ridge_energy_v1_no_log.png
residuals_kde_Ridge_energy_v1.png
residuals_kde_Ridge_gas_v1_no_log.png
residuals_kde_Ridge_gas_v1.png
